stages:
  - build
  - test

variables:
  DOCKER_DRIVER: overlay2

services:
  - docker:dind

build:
  stage: build
  image: docker:27
  script:
    - docker compose build

test:
  stage: test
  image: python:3.12-slim
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - pytest -v
