fastapi
uvicorn[standard]
gunicorn

numpy>=1.25.2,<2.0.0
scipy==1.16.3
scikit-learn==1.7.2
deepchecks==0.19.1
pandas
joblib

mlflow
boto3

deepchecks
evidently

seaborn
matplotlib

python-dotenv
setuptools

pytest
requests
